
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
p{
  font-family: 'Poppins', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}
#domBgContainer{
  height: 700px;
}
@media (max-width: 1440px) {
  #domBgContainer{
    height: 650px;
  }
}
@media (max-width: 991px) {
  #domBgContainer{
    height: 650px;
  }
}
@media (max-width: 768px) {
  #domBgContainer{
    height: 550px;
  }
}
.hideOnMobileBlock .bg-hidden-white img{
  max-width: 1000px;
}
#domBgContainer #domBgStyle {
  background-size: cover !important;
}
@media (max-width: 630px) {
  #domBgContainer #domBgStyle {
    height: 100% !important;
  }
}

@media (max-width: 450px) {
  .mobileOnlyXsBlock {
    display: none !important;
  }
}

@media (max-width: 330px) {
  .hideOnMobileXsBlock {
    width: 130px !important;
  }
}

@media (max-width: 991px) {
  .hideOnMobileBlock .title-text {
    font-size: 30px !important;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  #domBgContainer{
    height: 250px;
  }
  .hideOnMobileBlock .title-text {
    display: block !important;
    font-size: 18px !important;
    text-align: center;
    max-width: 290px;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 576px) {
  .hideOnMobileBlock .subtitle {
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-size: 7px !important;
    font-weight: 400;
  }
}
@media (max-width: 450px) {
  .hideOnMobileBlock .subtitle {
    display: block !important;
    font-size: 7px !important;
  }
}
.about-seciton{
  background: transparent !important;
}
@media (max-width: 576px) {
  .about-seciton .about-content .title {
    font-size: 14px !important;
    font-weight: 700;
  }
  .about-seciton .about-content .subtitle {
    color: #7C86A9;
    font-size: 7px !important;
    font-weight: 400;
    margin-bottom: 10px !important;
  }
  .about-seciton .about-content .content-text{
    column-gap: 1px !important;
    -moz-column-gap: 1px;
    align-items: center;
    margin-top: -0px !important;
  }
  .about-seciton .about-content .content-text img {
    max-width: 10px !important;
    margin-top: 3px !important;
  }
  .about-seciton .about-content .content-text p {
    color: #0C0C0C;
    font-size: 7.5px !important;
    font-weight: 500;
    line-height: 12px;
  }
}
/* @media (max-width: 330px) {

.about-seciton .about-content .content-text {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
} */
@media (max-width: 991px) {
  .about-seciton .about-content .content-text {
    align-items: flex-start !important;
    flex-wrap: nowrap;
  }
  .about-seciton .about-content .content-text img {
    margin-top: 7px;
  }
}


@media (max-width: 991px) {
  .hideOnDesktopFlex .title {
    font-size: 20px !important;
  }
}
@media (max-width: 768px) {
  .hideOnDesktopFlex .title {
    font-size: 14px !important;
  }
}
.hideOnDesktopFlex .items-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 30px;
  margin-bottom: 30px;
}
.hideOnDesktopFlex .items-wrapper .single-item {
  width: 250px;
  text-align: center;
}

@media (max-width: 1025px) {
  #landing-footer img {
    max-width: 200px !important;
    -o-object-fit: contain;
       object-fit: contain;
    display: block !important;
  }
}
@media (max-width: 768px) {
  #landing-footer .footer-wrapper {
    align-items: flex-start;
    column-gap: 40px;
    justify-content: flex-start !important; 
  }
  #landing-footer .footer-wrapper img {
    /* max-width: 80px !important; */
    display: none !important;
  }
  #landing-footer .footer-wrapper p {
    /* color: #FFF;
    font-size: 12px !important;
    font-weight: 700; */
  }
  #landing-footer .footer-wrapper a {
    /* color: #FFF;
    font-size: 9px !important;
    font-weight: 400;
    opacity: 0.78; */
  }
}

@media (max-width: 576px) {
  #main-top-nav {
    /* padding-top: 10px !important; */
    height: 30px;
    margin-bottom: 20px !important;
  }
}
@media (max-width: 576px) {
  #main-top-nav .hideOnMobileXsBlock {
    /* max-width: 100px; */
    /* height: 9px; */
  }
}

@media (max-width: 576px) {
  /* #main-top-nav-bar .btn-base {
    color: #FFF;
    font-size: 8px;
    font-weight: 600;
    line-height: 16px;
  }
  #main-top-nav-bar .btn-base.btn-white-orange {
    height: 30px;
    width: 50px;
    border-radius: 1px;
    color: #FE5722;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}

@media (max-width: 576px) {
  .hideOnMobileBlock {
    margin-top: 17px !important;
  }
}

@media (max-width: 576px) {
  #main-top-cover .bg-hidden-white {
    display: none !important;
  }
}
#main-top-cover .mobile-image {
  display: none !important;
}
@media (max-width: 576px) {
  #main-top-cover .mobile-image {
    display: block !important;
    margin-top: 5px;
  }
  #main-top-cover .mobile-image img {
    max-width: 375px;
    max-height: 300px;
  }
}

@media (max-width: 576px) {
  .hideOnMobileFlex img {
    max-width: 188px;
  }
}

.black {
  color: #0C0C0C !important;
}

.orange {
  color: #FE5722 !important;
}

@media (max-width: 768px) {
  .about-seciton {
    margin-top: 0px !important;
  }
}
@media (max-width: 768px) {
  /* .about-seciton.first-about-section {
    margin-top: -100px !important;
  } */
}
@media (max-width: 576px) {
  .about-seciton.first-about-section {
    margin-top: 45px !important;
  }
}

@media (max-width: 330px) {
  .hideOnDesktopFlex .col-12 {
    padding: 0 !important;
  }
}
.hideOnDesktopFlex .items-wrapper {
  -moz-column-gap: 0px !important;
       column-gap: 0px !important;
  justify-content: space-between !important;
}
@media (max-width: 992px) {
  .hideOnDesktopFlex .items-wrapper .single-item {
    width: 200px;
    height: 80px;
  }
  .hideOnDesktopFlex .items-wrapper .single-item img {
    max-width: 50px;
  }
  .hideOnDesktopFlex .items-wrapper .single-item .font-weight-bold {
    color: #0C0C0C;
    font-size: 10px !important;
    font-weight: 700;
    line-height: 24px;
    line-height: 1px;
  }
  .hideOnDesktopFlex .items-wrapper .single-item .color-lighter-purple {
    color: #7C86A9;
    font-size: 6px !important;
    font-weight: 400;
    margin-top: 5px !important;
  }
}
@media (max-width: 768px) {
  .hideOnDesktopFlex .items-wrapper .single-item {
    width: 74px;
    height: 74px;
  }
  .hideOnDesktopFlex .items-wrapper .single-item img {
    max-width: 40px;
  }
  .hideOnDesktopFlex .items-wrapper .single-item .font-weight-bold {
    font-size: 5px !important;
  }
  .hideOnDesktopFlex .items-wrapper .single-item .color-lighter-purple {
    font-size: 4px !important;
  }
}

@media (max-width: 768px) {
  body#landing-page-body .landing-wrapper {
    margin-bottom: 90px !important;
  }
}

@media (max-width: 768px) {
  #landing-footer {
    padding: 18px 33px !important;
    min-height: 70px !important;
    margin: 0 !important;
  }
}