
#domBgContainer{
  height: 700px;

}
@media (max-width: 1440px) {
  #domBgContainer{
    height: 650px;
  }
}
@media (max-width: 991px) {
  #domBgContainer{
    height: 650px;
  }
}
@media (max-width: 768px) {
  #domBgContainer{
    height: 550px;
  }
}
.hideOnMobileBlock .bg-hidden-white img{
  max-width: 1000px;
}
#domBgContainer #domBgStyle {
  background-size: cover !important;
}
@media (max-width: 630px) {
  #domBgContainer #domBgStyle {
    height: 100% !important;
  }
}

@media (max-width: 450px) {
  .mobileOnlyXsBlock {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .hideOnMobileXsBlock {
    width: 130px !important;
  }
}

@media (max-width: 991px) {
  .hideOnMobileBlock .title-text {
    font-size: 30px !important;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  #domBgContainer{
    height: 182px;
  }
  .hideOnMobileBlock .title-text {
    display: block !important;
    font-size: 18px !important;
    text-align: center;
    max-width: 260px;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 576px) {
  .hideOnMobileBlock .subtitle {
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-size: 5px !important;
    font-weight: 400;
  }
}
@media (max-width: 450px) {
  .hideOnMobileBlock .subtitle {
    display: block !important;
    font-size: 5px !important;
  }
}
.about-seciton{
  background: transparent !important;
}
@media (max-width: 576px) {
  .about-seciton .about-content .title {
    font-size: 14px !important;
    font-weight: 700;
  }
  .about-seciton .about-content .subtitle {
    color: #7C86A9;
    font-size: 7px !important;
    font-weight: 400;
    margin-bottom: 10px !important;
  }
  .about-seciton .about-content .content-text{
    column-gap: 1px !important;
    -moz-column-gap: 1px;
    align-items: center;
    margin-top: -0px !important;
  }
  .about-seciton .about-content .content-text img {
    max-width: 10px !important;
    margin-top: 3px !important;
  }
  .about-seciton .about-content .content-text p {
    color: #0C0C0C;
    font-size: 5.5px !important;
    font-weight: 500;
    line-height: 15px;
  }
}
/* @media (max-width: 330px) {

.about-seciton .about-content .content-text {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
} */
@media (max-width: 991px) {
  .about-seciton .about-content .content-text {
    align-items: flex-start !important;
    flex-wrap: nowrap;
  }
  .about-seciton .about-content .content-text img {
    margin-top: 7px;
  }
}


@media (max-width: 991px) {
  .hideOnDesktopFlex .title {
    font-size: 20px !important;
  }
}
@media (max-width: 768px) {
  .hideOnDesktopFlex .title {
    font-size: 14px !important;
  }
}
.hideOnDesktopFlex .items-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 30px;
  margin-bottom: 30px;
}
.hideOnDesktopFlex .items-wrapper .single-item {
  width: 250px;
  text-align: center;
}

@media (max-width: 1025px) {
  #landing-footer img {
    max-width: 200px !important;
    -o-object-fit: contain;
       object-fit: contain;
    display: block !important;
  }
}
@media (max-width: 768px) {
  #landing-footer .footer-wrapper {
    align-items: flex-start;
    column-gap: 40px;
    justify-content: flex-start !important; 
  }
  #landing-footer .footer-wrapper img {
    max-width: 55px !important;
  }
  #landing-footer .footer-wrapper p {
    color: #FFF;
    font-size: 5px !important;
    font-weight: 700;
  }
  #landing-footer .footer-wrapper a {
    color: #FFF;
    font-size: 4px !important;
    font-weight: 400;
    opacity: 0.78;
  }
}

